$color-peach: #E7816B;
$color-lightpeach: #FFAD9B;
$color-black: #1D1C1E;
$color-white: #FFFFFF;
$color-darkgrey: #333136;
$color-lightgrey: #F1F3F5;

$spacer-s: 20px;
$spacer-m: 40px;
$spacer-section: 100px;



// breakpoints:
// 700
// 1200