
<footer>
    
    <div class="wrapper">
      <div class="footer__card">
        <div class="footer__left">
          <h2>Let’s talk about<br>your project</h2>
          <p>Ready to take it to the next level? Contact us today and find out how our expertise can help your business grow.</p>
        </div>
        <div class="footer__right"><button class="button button--onDark" >Get in touch</button></div> 
      </div>
    </div>

      <div class="footer__black">
        <div class="wrapper footer__flex">

          <div class="menu">
            <img class="menu__logo" src="/assets/shared/desktop/logo-light.png" alt="designo logo">
            <div class="menu__right">
              <a class="menu__item" href="#">Our company</a>
              <a class="menu__item" href="#">Locations</a>
              <a class="menu__item" href="#">Contact</a>
            </div>
          </div>


          <div class="footer__contact">
            <div class="footer__details">
              <p><strong>Designo Central Office</strong></p>
              <p>3886 Wellington Street</p>
              <p>Toronto, Ontario M9C 3J5</p>
            </div>

            <div class="footer__details">
              <p><strong>Contact Us (Central Office)</strong></p>
              <p>P : +1 253-863-8967</p>
              <p>M : contact@designo.co</p>
            </div>

            <div class="footer__icons">
              <a href="#"><img src="/assets/shared/desktop/icon-facebook.svg" alt="icon"></a>
              <a href="#"><img src="/assets/shared/desktop/icon-instagram.svg" alt="icon"></a>
              <a href="#"><img src="/assets/shared/desktop/icon-twitter.svg" alt="icon"></a>
              <a href="#"><img src="/assets/shared/desktop/icon-pinterest.svg" alt="icon"></a>
              <a href="#"><img src="/assets/shared/desktop/icon-instagram.svg" alt="icon"></a>
            </div>
          </div>

        </div>
      </div>

    

    
    
  </footer>