<header class="header wrapper">
    <div class="menu menu--header">

      <img class="menu__logo--header" src="/assets/shared/desktop/logo-dark.png" alt="designo logo">

      <div class="menu__right menu__right--hidden">
        <a class="menu__item menu__item--header" href="#">Our company</a>
        <a class="menu__item menu__item--header" href="#">Locations</a>
        <a class="menu__item menu__item--header" href="#">Contact</a>
      </div>

      <div class="hamburger__icon"><img class="hamburger__img" src="/assets/shared/mobile/icon-hamburger.svg" alt=""></div>
      
      
    </div>
    <div class="menu__hamburger hidden">
      <a class="menu__item menu__item--header" href="#">Our company</a>
      <a class="menu__item menu__item--header" href="#">Locations</a>
      <a class="menu__item menu__item--header" href="#">Contact</a>
    </div>
  </header>